<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="game" connectionString="Server = 221.229.166.92;Database = GAME01;User ID  =zxknuhvmrj$fmSk^;Password =fnA^txBZQ1RH5yVd;" />
    <add name="account" connectionString="Server = 221.229.166.92;Database = ACCOUNT;User ID  =zxknuhvmrj$fmSk^;Password =fnA^txBZQ1RH5yVd;" />
  </connectionStrings>
</configuration>